<header>
    <img class="avatar" src="{{contact.avatar ? contact.avatar : 'https://i.imgur.com/tdi3NGa.png'}}">

    <h2> {{contact.first_name}} {{contact.last_name}}</h2>
</header>

<section>
    <form action="">
        <h4>Address #1</h4>
        <p>
            <mat-form-field>
                <mat-label>Street 1</mat-label>
                <input matInput>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Street 2</mat-label>
                <input matInput>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Town</mat-label>
                <input matInput>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </p>

    </form>
</section>

<div class="back-button-container">
    <button mat-fab color="primary" aria-label="Back button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
</div>